@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* CSS FOR: Common Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #cad5e2;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 75%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

li {
    list-style: none;
}

/* CSS FOR: Header  */

header {
    height: 60px;
    background: whitesmoke;
    box-shadow: 0px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .navbar span {
    font-weight: 600;
}

/* TODO: solve padding problem in navbar  */

header nav .navbar li {
    padding: 7px 10px;
    margin-left: 35px;
}
header nav .navbar li:hover {
    padding: 7px 10px;
    margin-left: 35px;
    background: #120e43;
    border: #120e43;
    border-radius: 5px;
}
header nav .navbar li:hover a {
    color: whitesmoke;
}

header nav .navbar li.active {
    padding: 7px 10px;
    margin-left: 35px;
    background: #120e43;
    border: #120e43;
    border-radius: 5px;
}
header nav .navbar li.active a {
    color: whitesmoke;
}

header h3 {
    font-size: 25px;
}

/* CSS FOR: Main Section  */

.main {
    margin-top: 50px;
    /* background: red; */
}

.main .container {
    display: flex;
    align-items: flex-start;
}

.main .left {
    width: 70%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.main .right {
    width: 30%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.main .left h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main .left form {
    width: 70%;
}

.main .left form input {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.main .left form button {
    padding: 7px 10px;
    background: #120e43;
    border: #120e43;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
}

.main .left .tasklist {
    margin-bottom: 25px;
}

.main .left .task {
    /* font-size: 16px; */
    background: #120e43;
    color: whitesmoke;
    padding: 10px;
    width: 550px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.main .left .task .task-actions {
    display: flex;
    font-size: 10px;
}

.main .left .task .task-actions p {
    margin-left: 10px;
    cursor: pointer;
}

/* CSS FOR: Signin page  */

.mainForForm {
    margin-bottom: 50px;
}

.mainForForm .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mainForForm .forform {
    width: 70%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 10px 36px -4px rgba(0, 0, 0, 0.75);
}
.mainForForm .forform h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.mainForForm .forform form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.mainForForm .forform form input {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.mainForForm .forform form .submitButton {
    padding: 7px 10px;
    background: #120e43;
    border: #120e43;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.mainForForm .forform form .gender {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.mainForForm .forform form .gender label {
    padding: 0;
    margin: 0;
    margin-right: 8px;
    font-size: 14px;
}
.mainForForm .forform form .gender input {
    padding: 0;
    margin: 0;
    width: 14px;
}

/* CSS FOR: Footer  */
footer {
    margin-top: auto;
    background: white;
    width: 100%;
    box-shadow: 0px -10px 28px -1px rgba(0, 0, 0, 0.75);
}

footer .container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer h5 {
    font-size: 16px;
}
